.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
ion-card {
  width: 100% !important;
  margin: -15px -15px 15px 0px !important;
  background-color: #4433A6 ;
}
.text{
  margin: 0% 30% 5% 0%;
  font-family: 'NunitoSans' ,serif;
}
.background{
  background-color:#4433A6;;
}


.mt--10 {
  margin-top: -35px;
}

.title-btn{
  text-transform: uppercase;
  font-family: NunitoSans, serif;
  font-weight: bold;
}

