<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="secondary">
<!--        <ion-icon slot="icon-only" ios="apps" md="apps"></ion-icon>-->
        <ion-back-button></ion-back-button>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon name="caret-up-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="secondary"style="font-weight: bolder" >
     Deposit Money
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <div class="background">
      <ion-label color="secondary" class="ion-padding text-white p5" position="stacked">Stacked Label</ion-label>
      <ion-input color="secondary"></ion-input>
    </div>
    <br>
    <ion-item >
      <ion-label color="secondary" position="stacked">Stacked Label</ion-label>
      <ion-input color="secondary"></ion-input>
    </ion-item>
   <br>
    <ion-item  >
      <ion-label color="secondary" position="stacked">Stacked Label</ion-label>
      <ion-input color="secondary"></ion-input>
    </ion-item>
  </div>

  <div>

  </div>

</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button color="success" shape="round" expand="block" size="large">
    Proceed
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>
</ion-footer>
