/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~bootstrap/dist/css/bootstrap.css";
//@import "assets/Nunito_Sans/NunitoSans-Regular.ttf";

/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";


@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans"), url(./assets/Nunito_Sans/NunitoSans-Regular.ttf) format("truetype");
}

body {
  font-family: NunitoSans, serif;
}

.background {
 //background: url("assets/img/background.png");
  background-color: #4433A6;

}
.p1{
  font-size: 12px;
  color: var(--ion-text-color, #a9a8a8);
  text-align: left;
  opacity: 100%;
}

